// break points
$mobile: 575px;

// Fonts
$font-default: 'Roboto', sans-serif;
$font-size-default: 16px;
$font-weight-default: 400;

// Text Color
$text-color-default: #333;

// Background Color
$background-color-default: #fff;
$background-color-accent: #3db439;