// break points
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 575px;

// Fonts
$font-default: 'Roboto', sans-serif;
$font-size-default: 16px;
$font-weight-default: 400;

// Text Color
$text-color-default: #333;
$text-color-basic: #fff;

// Background Color
$background-color-default: #fff;
$background-color-basic: #333;
$background-color-accent: #1890ff;

// Border
$border-color-default: #353131;

// Box Shadow
$shadow-color-default: #1890ff;