.leagues-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 120px;

  border: 1px solid $border-color-default;
  border-radius: 2px;

  cursor: pointer;
  transition: box-shadow .3s, border .3s;

  &:hover {
    box-shadow: 0 0 16px 0px rgba($shadow-color-default, .1);
    border-color: rgba($border-color-default, .5);
  }

  &__name {
    font-size: 18px;
    margin-bottom: 14px;
  }

  &__country {
    opacity: .9;
  }
}