.header {
  padding: 20px 0;

  &__content {
    display: flex;
    align-items: center;

    &-logo {
      width: 64px;
      margin-right: 44px;

      @include mediaMax($mobile) {
        margin-right: 28px;
      }
    }
  }
}