.matches-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  gap: 15px;
  align-items: center;
  justify-items: center;
  padding: 5px 20px;

  border: 1px solid rgba($border-color-default, .3);
  border-radius: 8px;

  @include mediaMax($tablet) {
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: start;
    height: 100%;
  }

  &__time {
    text-align: center;
  }

  &__status {
    cursor: default;
    padding: 4px 10px;
    background-color: $background-color-basic;
    border-radius: 4px;
    width: 160px;

    font-size: 14px;
    color: $text-color-basic;
    text-transform: uppercase;
  }

  &__comands {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    width: 100%;
    max-width: 520px;

    &-left {
      text-align: right;
    }

    &-right {
      text-align: left;
    }

    @include mediaMax($tablet) {
      display: block;
      text-align: center;
      margin: 7px 0;
    }
  }

  &__score {
    display: flex;

    & + & {
      margin-left: 8px;
    }

    &--faded {
      color: rgba($text-color-default, .7);
    }
  }
}
